/* 
 * MARK: PopupContainer
 */
/* #region */
.popup-container {
  width: 200px;
  display: flex;
  flex-direction: column;
  row-gap: 8px;
  padding: 16px;
}
/* #endregion */

/* 
 * MARK: ToggleOption
 */
/* #region */
.toggle-option__container {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  column-gap: 4px;
}

.toggle-option__text {
  text-wrap: nowrap;
  cursor: pointer;
  font-size: 14px;
  user-select: none;
}

.toggle-option__button {
  display: flex;
  align-items: center;
  appearance: none;
  position: relative;
  width: 40px;
  height: 24px;
  border-radius: 24px;
  background-color: #c0c4c9;
  cursor: pointer;
  transition: background-color 100ms ease-in;
}

.toggle-option__button::before {
  content: '';
  position: absolute;
  left: 4px;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background-color: white;
  transition: left 100ms ease-in;
}

.toggle-option__button:checked::before {
  left: 20px;
}

.toggle-option__button:checked {
  background-color: #157eff;
}

.toggle-option__button:disabled {
  background-color: #e4e8ed;
  cursor: not-allowed;
}

.toggle-option__button:disabled + .toggle-option__text {
  opacity: 0.7;
  cursor: not-allowed;
}
/* #endregion */
