@font-face {
  font-family: 'Pretendard Variable';
  font-weight: 45 920;
  font-style: normal;
  font-display: swap;
  src: url('./PretendardVariable.woff2') format('woff2-variations');
}

*,
body {
  font-family: 'Pretendard Variable';
}

/* 
 * MARK: FloatingButton
 */
/* #region */
.floating-button {
  position: fixed;
  right: 0;
  top: 80px;
  padding: 10px;
  border-top-left-radius: 12px;
  border-bottom-left-radius: 12px;
  background: #222323;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  z-index: 2147483647;
  user-select: none;
}

.floating-button__text {
  color: white;
  font-size: 12px;
  font-weight: 600;
  display: inline-block;
  max-width: 0;
  overflow: hidden;
  white-space: nowrap;
  opacity: 0;
  transform: translateX(5px);
  transition: all 0.3s ease;
}

.floating-button:hover .floating-button__text {
  max-width: 200px;
  opacity: 1;
  transform: translateX(0);
  padding-left: 4px;
}
/* #endregion */

/* 
 * MARK: HotBoardsContainer
 */
/* #region */
.hotboards {
  position: fixed;
  display: flex;
  flex-direction: column;
  top: 80px;
  right: 0;
  width: 340px;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  background-color: #222323;
  z-index: 2147483647;
}

.hotboards__header {
  display: flex;
  padding: 24px 16px 2px 20px;
  justify-content: space-between;
}

.hotboards__logo {
  display: flex;
  column-gap: 8px;
}

.hotboards__close {
  cursor: pointer;
  border: 0;
  background-color: transparent;
}

.hotboards__content {
  display: flex;
  flex-direction: column;
  row-gap: 12px;
  padding: 20px 16px;
}

.hotboards__list {
  display: flex;
  flex-direction: column;
  row-gap: 12px;
  padding-left: 4px;
}
/* #endregion */

/* 
 * MARK: HotBoardsRow
 */
/* #region */
.hotboards-row {
  display: flex;
  flex-direction: column;
  row-gap: 4px;
  padding: 16px;
  border: 1px solid #ffffff04;
  border-radius: 12px;
  background-color: #ffffff04;
}

.hotboards-row__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.hotboards-row__title {
  color: white;
  font-size: 14px;
  font-weight: 500;
  line-height: 150%;
}

.hotboards-row__ai-button {
  display: flex;
  align-items: center;
  column-gap: 3px;
  padding: 3px 8px;
  border-radius: 40px;
  background-color: #ffffff08;
  border: 0;
  cursor: pointer;
  animation: ai-detail-slide 0.5s cubic-bezier(0.4, 0, 0.2, 1) both;
  opacity: 0;
}

.hotboards-row__ai-button-text {
  color: white;
  font-size: 10px;
  font-weight: 400;
  line-height: 150%;
  text-wrap: none;
}

.hotboards-row__ai-detail-box {
  display: flex;
  align-items: center;
  column-gap: 4px;
  animation: ai-detail-slide 0.5s cubic-bezier(0.4, 0, 0.2, 1) both;
  opacity: 0;
}

@keyframes ai-detail-slide {
  0% {
    transform: translateX(10px);
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

.hotboards-row__ai-detail-button {
  display: flex;
  align-items: center;
  padding: 3px 6px 3px 10px;
  border-radius: 40px;
  background-color: #ffffff08;
  border: 0;
  cursor: pointer;
}

.hotboards-row__ai-detail-text {
  color: white;
  font-size: 10px;
  font-weight: 400;
  line-height: 150%;
  text-wrap: none;
}

.hotboards-row__ai-detail-restore {
  padding: 3px;
  border-radius: 40px;
  background-color: #ffffff08;
  border: 0;
  cursor: pointer;
}

.hotboards-row__footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  animation: footer-slide 0.5s cubic-bezier(0.4, 0, 0.2, 1) both;
}

@keyframes footer-slide {
  0% {
    transform: translateY(10px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    max-height: 21px;
    opacity: 1;
  }
}

.hotboards-row__stats {
  display: flex;
  align-items: center;
  column-gap: 8px;
}

.hotboards-row__stats-count {
  color: #ffffff48;
  font-size: 12px;
  line-height: 150%;
  font-weight: 400;
}

.hotboards-row__ai-summary {
  color: white;
  font-size: 12px;
  line-height: 150%;
  font-weight: 400;
  animation: summary-slide 0.5s cubic-bezier(0.4, 0, 0.2, 1) both;
}

@keyframes summary-slide {
  0% {
    transform: translateY(10px);
    max-height: 21px;
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    max-height: 200px;
    opacity: 1;
  }
}
/* #endregion */

/* 
 * MARK: HotBoardsFooter
 */
/* #region */
.hotboards-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.hotboards-footer__info-box {
  display: flex;
  align-items: center;
  column-gap: 4px;
}

.hotboards-footer__info-text {
  color: #ffffff28;
  font-size: 12px;
  line-height: 150%;
  font-weight: 400;
}

.hotboards-footer__page-box {
  display: flex;
  align-items: center;
  column-gap: 2px;
}

.hotboards-footer__page-text {
  color: #ffffff28;
  font-size: 13px;
  line-height: 150%;
  font-weight: 500;
}

.hotboards-footer__page-arrows {
  display: flex;
  align-items: center;
}

.hotboards-footer__page-button {
  cursor: pointer;
  border: 0;
  background-color: transparent;
}
/* #endregion */

/* 
 * MARK: DateDivider
 */
/* #region */
.date-divider {
  display: flex;
  column-gap: 4px;
  align-items: center;
}

.date-divider__date {
  color: black;
  font-size: 12px;
  line-height: 150%;
  font-weight: 600;
  border-radius: 6px;
  padding: 4px 8px;
  background-color: white;
}

.date-divider__line {
  flex: 1;
  background-color: #696a6d;
  height: 2px;
  border: 0;
}

.date-divider__square {
  width: 10px;
  height: 10px;
  background-color: #696a6d;
  border-radius: 2px;
}
/* #endregion */

/* 
 * MARK: Timer
 */
/* #region */
.timer {
  display: flex;
  align-items: center;
  column-gap: 2px;
  font-size: 14px;
  font-weight: 600;
  line-height: 150%;
}

.timer__gray {
  color: #c0c4c9;
}

.timer__orange {
  color: #ff6d13;
}

.timer__blue {
  color: #157eff;
}
/* #endregion */
